header {
    background-image: 
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)), 
    url("../pics/header_alpinist.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10mm;
    margin-left: 15mm;
    margin-right: 15mm;
    gap: 5mm;
}
header nav button:nth-child(2) {
    margin-left: auto;
}
header section {
    display: flex;
    flex-direction: column;
    gap: 0mm;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
header h1 {
    color: wheat;
    text-align: center;
    font-size: 20mm;
}
header p {
    color: wheat;
    text-align: center;
    font-size: 6mm;
}
header nav button {
    height: 4rem;
    color: wheat;
    background-color: transparent;
    font-size: large;
    border-width: 1mm;
    border-color: transparent;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Times New Roman', Times, serif;
    cursor: pointer;
}
header nav button:hover {
    background-color: rgb(61, 71, 71);
    border-width: 1mm;
    border-radius: 1rem;
    border-color: wheat;
    cursor: pointer;
    transition: background-color 500ms linear, border-width 200ms linear, border-radius 200ms linear, border-color 200ms linear;
}
header section button {
    height: 4rem;
    background-color: transparent;
    border-width: 1mm;
    border-color: transparent;
    margin-top: 5mm;
    margin-bottom: 5mm;
    cursor: pointer;
}
header section button:hover {
    background-color: rgb(61, 71, 71);
    border-width: 1mm;
    border-radius: 1rem;
    border-color: wheat;
    cursor: pointer;
    transition: background-color 500ms linear, border-width 200ms linear, border-radius 200ms linear, border-color 200ms linear;
}
header img {
    height: 100%;
}